{% extends 'layout.html.twig' %}
{% set active = 'form' %}

{% block content %}
    <h2>{{ 'Form'|trans }}</h2>
    {{ form(form, {action: path('form'), attr:{ 'novalidate': 'novalidate' }}) }}
{% endblock %}
